{% extends "layout.html" %}
{% block content %}
{% for data in all_rows %}
<div class="card-deck d-inline-block", style="margin-top: 20px; margin-right: 0px; margin-left: 12px">
	<div class="card mb-3 text-white bg-dark" style="width: 14rem;">
		<div class="card-header" style="font-weight: bold;">{{ data[0] }}</div>	
  		<div class="card-body">
  			{% for i in data %}
  				{% if i == '-' or i == 'Понедельник' or i == 'Вторник' or i == 'Среда' or i == 'Четверг' or i == 'Пятница' %}
  				{% else %}
  					<p class="card-text">{{ i }}</p>
  				{% endif %}
  			{% endfor %}
  		</div>
	</div>
</div>
{% endfor %}
{% endblock %}