<form method='post'>
	{{ form.hidden_tag() }}
	<div>
		{{ form.day.label }}
		{{ form.day }}
	</div>
	<div>
		{{ form.day_1.label }}
		{{ form.day_1 }}
	</div>
	<div>
		{{ form.day_2.label }}
		{{ form.day_2 }}
	</div>
	<div>
		{{ form.day_3.label }}
		{{ form.day_3 }}
	</div>
	<div>
		{{ form.day_4.label }}
		{{ form.day_4 }}
	</div>
	<div>
		{{ form.day_5.label }}
		{{ form.day_5 }}
	</div>
	<div>
		{{ form.day_6.label }}
		{{ form.day_6 }}
	</div>
	{{ form.submit }}
</form>