{% extends "layout.html" %}
{% block content %}
<div class="card w-10 text-black bg-light", style="margin: 15px 37%;">
    <div class="card-body">
        <form method="post">
            {{ form.hidden_tag() }}
        <div class="form-group">
            <div class="col-md-13 mb-3">
            	{{ form.day(class="custom-select mr-sm-2") }}
                {{ form.day_1.label }}
                {{ form.day_1(class="form-control") }}
                {{ form.day_2.label }}
                {{ form.day_2(class="form-control") }}
                {{ form.day_3.label }}
                {{ form.day_3(class="form-control") }}
                {{ form.day_4.label }}
                {{ form.day_4(class="form-control") }}
                {{ form.day_5.label }}
                {{ form.day_5(class="form-control") }}
                {{ form.day_6.label }}
                {{ form.day_6(class="form-control") }}
            </div>
            <div>
            {{ form.submit(class="btn btn-primary", style="width:314px") }}
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock %}
