{% extends "layout.html" %}
{% block content %}
<div align="center">
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
</div>
<div class="card w-10 text-black bg-light", style="margin: 50px 37%;">
    <div class="card-body">
        <form method="post">
            {{ form.hidden_tag() }}
        <div class="form-group">
            <div class="col-md-13 mb-2">
                {{ form.username.label }}
                {{ form.username(class="form-control") }}
            </div>
            <div class="col-md-13 mb-2">
                {{ form.password.label }}
                {{ form.password(class="form-control") }}
            </div>
            <div>
            {{ form.submit(class="btn btn-primary", style="width:315px") }}
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock %}