{% extends "layout.html" %}
{% block content %}
<div align="center">
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
</div>
<div class="card w-25 text-black bg-light", style="margin: 10px 37%;">
    <div class="card-body">
        <h5 class="card-title" align="center">Войдите в аккаунт!</h5>
        <form method="post">
            {{ form.hidden_tag() }}
        <div class="form-group">
            <div class="col-md-10 mb-1">
                {{ form.username.label }}
                {{ form.username(class="form-control") }}
            </div>
            <div class="col-md-10 mb-0">
                {{ form.password.label }}
                {{ form.password(class="form-control") }}
            </div>
        </div>
        {{ form.submit(class="btn btn-primary", style="margin-left: 10px; margin-top: 10px; width: 14rem;") }}
        </form>
    </div>
</div>
{% endblock %}