{% extends "layout.html" %}
{% block content %}
<div align="center">
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
</div>
<form method="post">
        {{ form.hidden_tag() }}
    <div class="form-row">
        <div class="col-md-2 mb-5">
            {{ form.username.label }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="col-md-2 mb-5">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
        </div>
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}